/* NAVBAR */
.navbar{
    top:0;
    padding: 15px;
    transition: 0.5s ease;
}
.navbar-brand{
    font-family: 'gwendolyn' !important;
}
.nav-link{
    font-size: 18px;
    margin: 0 10px;
}
.shadow-lg{
    background-color: rgba(221, 36, 36, 0.952) !important;
    padding: 10px;
}
.nav-link:hover{
    background-color: white;
    color: black !important;
}

.login{
    padding: 80px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.39);
}
.login-submit{
    background-color: rgba(221, 36, 36, 0.952);
    color: white;
    border: none;
    padding: 8px;
    width: 40%;
    border-radius: 20px;

}
.text-login{
    margin-top: 50px;
}
.register{
    padding: 80px;
    height: 650px;
    background-color: rgba(221, 36, 36, 0.952);
}
.register-submit{
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    width: 40%;
    border-radius: 20px;

}

.tumb{
    border: 2px rgba(221, 36, 36, 0.952) solid;
    width: 40%;
    height: 130px;
}
/* Footer */
.footer{
    bottom: 0;
    margin: 0;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.39);
}

.btn-delete{
    margin-top: 100px;
}